$red: rgb(255, 82, 82);
$height-header: 50px;
$white: #fff;
$white-transparent: rgba(255, 255, 255, 0.85);
$gray-transparent: rgba(211, 211, 211, 0.85);
$gray-dark-transparent: rgba(128, 128, 128, 0.85);
$min-width-box: 700px;
